trigger:
- main

pool:
  vmImage: 'ubuntu-latest'

variables:
  azureContainerRegistry: 'ConexaoACR_ESG' 

  imageRepository: 'apiesgfiap'
  tag: '$(Build.BuildId)'


  azureSubscription: 'ConexaoAzureESG' 


  webAppNameStaging: 'api-esg-fiap-staging'


  webAppNameProduction: 'api-esg-fiap-prod'
  
  dockerfilePath: '$(Build.SourcesDirectory)/Dockerfile'

stages:
- stage: Build
  displayName: 'Build, Test & Push'
  jobs:
  - job: BuildAndPush
    displayName: 'Build Docker image and push to ACR'
    steps:
    - task: Docker@2
      displayName: 'Build and Push Docker Image'
      inputs:
        command: 'buildAndPush'
        repository: '$(imageRepository)'
        dockerfile: '$(dockerfilePath)'

        containerRegistry: '$(azureContainerRegistry)'
        tags: |
          $(tag)
          latest

- stage: Deploy_Staging
  displayName: 'Deploy to Staging'
  dependsOn: Build
  jobs:
  - deployment: DeployWebAppStaging
    displayName: 'Deploy to Staging Web App'
    environment: 'staging'
    strategy:
      runOnce:
        deploy:
          steps:
          - task: AzureWebAppContainer@1
            displayName: 'Deploy to Azure Web App for Containers (Staging)'
            inputs:
              azureSubscription: '$(azureSubscription)'
              appName: '$(webAppNameStaging)'
              imageName: '$(azureContainerRegistry).azurecr.io/$(imageRepository):$(tag)'

- stage: Deploy_Production
  displayName: 'Deploy to Production'
  dependsOn: Deploy_Staging
  jobs:
  - deployment: DeployWebAppProduction
    displayName: 'Deploy to Production Web App'
    environment:
      name: 'production'
      resourceType: VirtualMachine 
    strategy:
      runOnce:
        deploy:
          steps:
          - task: AzureWebAppContainer@1
            displayName: 'Deploy to Azure Web App for Containers (Production)'
            inputs:
              azureSubscription: '$(azureSubscription)'
              appName: '$(webAppNameProduction)'
              imageName: '$(azureContainerRegistry).azurecr.io/$(imageRepository):$(tag)'